{% extends 'base.html' %}

{% block title %}Contact Us{% endblock %}

{% block content %}
<section class="py-16 bg-gray-100">
    <div class="container mx-auto px-4 max-w-md">
        <div class="bg-white rounded-lg shadow-lg overflow-hidden p-6">
            <h2 class="text-2xl font-bold mb-4 text-center">Contact Us</h2>
             <form method="POST" action="{% url 'contact' %}">
                {% csrf_token %} 
              
                <div class="mb-4">
                    <label for="name" class="block text-gray-700">Your Name</label>
                   <input type="text" name="name" placeholder="Your Name" required>     </div>
                <div class="mb-4">
                    <label for="email" class="block text-gray-700">Email Address</label>
                   <input type="email" name="email" placeholder="Your Email" required>  </div>
                <div class="mb-4">
                    <label for="message" class="block text-gray-700">Message</label>
                  <textarea name="message" placeholder="Your Message" required></textarea>
                 </div>
                <button type="submit" class="bg-blue-600 text-white py-2 px-4 rounded-full shadow-md font-semibold hover:bg-blue-700 w-full">Send Message</button>
            </form> 
            {% comment %} <form method="POST" action="{% url 'contact' %}">
                {% csrf_token %}
                <input type="text" name="name" placeholder="Your Name" required>
                <input type="email" name="email" placeholder="Your Email" required>
                <textarea name="message" placeholder="Your Message" required></textarea>
                <button type="submit">Send</button>
            </form> {% endcomment %}
            
        </div>
    </div>
</section>
{% endblock %}
